<div class="card rounded shadow-sm p-3 m-5 teste">

  <div class="d-flex mb-1">
    <div class="flex-fill pr-3">

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text" id="campo-filtro">Filtro: </div>
        </div>
        <input type="text" placeholder="Buscar por registros" class="form-control" (input)="onChange($event)" />
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/dashboard/patrimonio">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block"> Novo</b>
      </a>
    </div>
    <div class="ml-1" *ngIf="ehAdministrador">
      <button class="btn btn-success mb-1" (click)="exportarParaExcel()"> <i class="fa fa-file-excel-o my-1"
          id="icone-excel"></i> Exportar para
        Excel</button>
    </div>
  </div>
  <ngx-table [data]="data" [configuration]="configuracao" [columns]="colunas" [noResultsTemplate]="mensagemSemCadastro"
    [summaryTemplate]="summaryTemplateRef" [detailsTemplate]="detailsTemplate" #table>
    <ng-template let-row let-index="index">
      <td *ngIf="!isMobile">
        <div class="font-small">{{ row.codigoPatrimonio }}</div>
      </td>
      <td *ngIf="!isMobile">
        <span class="font-small" [ngClass]="{
          'danificado': row.situacaoEquipamento == 3,
          'em-uso': row.situacaoEquipamento == 1,
          'disponivel': row.situacaoEquipamento == 2,
          'manutencao': row.situacaoEquipamento == 4}">
          {{obterDescricaoEnum(row.situacaoEquipamento)}}</span>

      </td>
      <td>
        <span class="font-small">{{ row.tipoEquipamento }}</span>
      </td>
      <td>
        <span class="font-small">{{ row.nomeFuncionario }}</span>
      </td>
      <td *ngIf="!isMobile">
        <span class="font-small">{{ row.modelo }}</span>
      </td>
      <td *ngIf="isMobile">
        <button class="btn btn-primary" id="expandButton-{{ index }}" (click)="onRowClickEvent($event, index)">
          <i class="icon icon-arrow-left" *ngIf="!toggledRows.has(index)"></i>
          <i class="icon icon-arrow-down" *ngIf="toggledRows.has(index)"></i>
          Expandir
        </button>
      </td>
      <td *ngIf="!isMobile">
        <button class="btn btn-warning btn-lg" role="button"
          (click)="detalhePatrimonio(row.codigoPatrimonio, row.serviceTag)">
          Alterar
        </button>
      </td>
      <td *ngIf="!isMobile">
        <button class="btn btn-danger btn-lg" role="button"
          (click)="abrirModal($event, template, row.codigoPatrimonio)">
          Excluir
        </button>
      </td>
      <td *ngIf="!isMobile">
        <div class="btn-group">
          <button type="button" class="btn btn-danger btn-lg">Ações</button>
          <button type="button" class="btn btn-danger btn-lg dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-expanded="false">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" role="button" data-toggle="modal"
              (click)="atribuirCodigoPatrimonio(row.codigoPatrimonio)" data-target="#modalPerda">Declarar Perda</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item "
              (click)="cadastrarMovimentacao(row.codigoPatrimonio, row.tipoEquipamento, row.nomeFuncionario)"
              role="button">Cadastrar Mov. <b>(EM BREVE)</b></a>
            <a class="dropdown-item " (click)="listarTodasAsMovimentacoes(row.codigoPatrimonio)" role="button">Listar Mov. <b>(EM BREVE)</b></a>
          </div>
        </div>
      </td>
    </ng-template>
  </ngx-table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Deseja confirmar a exclusão do patrimônio de código {{patrimonioId}}?</p>
    <button type="button" class="btn btn-default" (click)="confirmar()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="recusar()">Não</button>
  </div>
</ng-template>
<ng-template #mensagemSemCadastro>
  <td [attr.colspan]="colunas.length" class="no-results text-center">
    <h4>Não há nenhum patrimônio cadastrado</h4>
  </td>
</ng-template>

<ng-template #summaryTemplateRef let-total="total">
  <th>Total de registros: {{ total }}</th>
</ng-template>

<ng-template #detailsTemplate let-row>
  <p>Código patrimônio: {{row.codigoPatrimonio}}</p>
  <p>Situação do equipamento: {{row.situacaoEquipamento}}</p>
  <p>Modelo: {{row.modelo}}</p>
  <button class="btn btn-warning btn-lg mr-1" role="button"
    (click)="detalhePatrimonio(row.codigoPatrimonio, row.serviceTag)">
    Alterar
  </button>
  <button class="btn btn-danger btn-lg mr-1" (click)="abrirModal($event, template, row.codigoPatrimonio)">
    Excluir
  </button>
  <div class="btn-group">
    <button type="button" class="btn btn-danger btn-lg">Ações</button>
    <button type="button" class="btn btn-danger btn-lg dropdown-toggle dropdown-toggle-split"
      data-toggle="dropdown" aria-expanded="false">
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" role="button" data-toggle="modal"
        (click)="atribuirCodigoPatrimonio(row.codigoPatrimonio)" data-target="#modalPerda">Declarar Perda</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item "
        (click)="cadastrarMovimentacao(row.codigoPatrimonio, row.tipoEquipamento, row.nomeFuncionario)"
        role="button">Cadastrar Mov. <b>(EM BREVE)</b></a>
      <a class="dropdown-item " (click)="listarTodasAsMovimentacoes(row.codigoPatrimonio)" role="button">Listar Mov. <b>(EM BREVE)</b></a>
    </div>
  </div>

</ng-template>

<div class="modal fade" id="modalPerda" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" id="botao-fechar-modal-perda" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <app-perda codigoPatrimonio="{{patrimonioId}}" (podeFecharModal)="fecharModalPerda($event)"></app-perda>
      </div>
    </div>
  </div>
</div>

<ngx-spinner name="buscando" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
  [fullScreen]="true">
  <p style="color: white">
    Buscando... </p>
</ngx-spinner>
<ngx-spinner name="excluindo" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
  [fullScreen]="true">
  <p style="color: white">
    Excluindo... </p>
</ngx-spinner>
