@import "../../../../scss/fonts.scss";

h4{
  font-family: 'Roboto-Black';
  color: var(--color-contraste);
}

button{
  font-family: 'Roboto-Black';
  color: white;
}

img{
  color: var(--color-contraste);
}
