<div class="card rounded shadow-sm m-3 p-3" id="formulario">
  <form [formGroup]="form">
    <h1>Cadastrar usuário</h1>
    <hr>
      <div class="p-3">
        <div class="form-row">
            <div class="form-group col-12 text-start">
                <label>Código do usuário</label>
                <input type="text" readonly class="form-control" value="15" name="codigoUsuario"  formControlName="codigoUsuario">
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12 text-start">
            <label>Setor</label>
            <select class="form-select form-control" [ngClass]="cssValidatorCampoSelecao(f.codigoSetor)" formControlName="codigoSetor" required>
              <option value="" disabled>--Selecione um setor--</option>
              <option *ngFor="let setor of setores" [value]="setor.codigoSetor">{{setor.nome}}</option>
            </select>
            <div *ngIf="f.codigoSetor.errors?.required" class="invalid-feedback">Setor do usuário é obrigatório</div>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-12 text-start">
            <label>Empresa</label>
            <select class="form-select form-control" [ngClass]="cssValidatorCampoSelecao(f.codigoEmpresa)" formControlName="codigoEmpresa" required>
              <option value="" disabled>--Selecione uma empresa--</option>
              <option *ngFor="let empresa of empresas" selected [value]="empresa.codigoEmpresa">{{empresa.razaoSocial}}</option>
            </select>
            <div *ngIf="f.codigoEmpresa.errors?.required" class="invalid-feedback">Empresa do usuário é obrigatório</div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12 text-start">
            <label>Situação</label>
            <select class="form-select form-control" formControlName="ativo" required>
              <option selected [ngValue]="true">Ativo</option>
              <option [ngValue]="false">Desativado</option>
            </select>
          </div>
        </div>

        <div class="form-row mb-5">
          <div class="form-group col-12 text-start">
            <label>Permissão</label>
            <select class="form-select form-control" [ngClass]="cssValidatorCampoSelecao(f.codigoUsuarioPermissao)" formControlName="codigoUsuarioPermissao" required>
              <option value="" disabled>--Selecione uma permissão--</option>
              <option *ngFor="let permissao of permissoes" [value]="permissao.codigoUsuarioPermissao">{{permissao.descricaoPermissao}}</option>
            </select>
            <div *ngIf="f.codigoUsuarioPermissao.errors?.required" class="invalid-feedback">Permissão do usuário é obrigatório</div>
          </div>
        </div>
        <hr>
        <div class="form-row mt-5">
          <div class="form-group col-6 text-start">
              <label>Username</label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.nome)" name="nome" formControlName="nome" placeholder="Nome do usuário" required>
              <div *ngIf="f.nome.errors?.required" class="invalid-feedback">Nome é obrigatório</div>
              <div *ngIf="f.nome.errors?.maxlength" class="invalid-feedback">Nome pode ter no máximo 60 caracteres</div>
              <div *ngIf="f.nome.errors?.minlength" class="invalid-feedback">Nome pode ter no mínimo 2 caracteres</div>

          </div>
          <div class="form-group col-6 text-start">
            <label>E-mail</label>
            <input type="email" class="form-control" [ngClass]="cssValidator(f.email)" name="email" formControlName="email" placeholder="E-mail do usuário" required>
            <div *ngIf="f.email.errors?.required" class="invalid-feedback">E-mail é obrigatório</div>
            <div *ngIf="f.email.errors?.maxlength" class="invalid-feedback">E-mail pode ter no mínimo 10 caracteres</div>
        </div>
        </div>

      <div div class="form-row">
        <div class="form-group col-6 text-start">
          <label>Senha</label>
          <input type="password" class="form-control" [ngClass]="cssValidator(f.senha)" name="senha" formControlName="senha" placeholder="Senha" required>
          <div *ngIf="f.senha.errors?.required" class="invalid-feedback">Senha é obrigatório</div>
          <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">Senha pode ter no mínimo 5 caracteres</div>
          <div *ngIf="f.senha.errors?.maxlength" class="invalid-feedback">Senha pode ter no máximo 25 caracteres</div>
        </div>
        <div class="form-group col-6 text-start">
          <label>Repita a senha</label>
          <input type="password" class="form-control" name="repitirSenha"  placeholder="Repita a senha" required>
        </div>

        </div>
          <div class="form-row pt-3">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-block btn-success btn-lg" [disabled]="!form.valid" (click)="salvarAlteracao()">Cadastrar</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-block btn-warning btn-lg" (click)="limparCampos()">Limpar</button>
              </div>
            </div>
          </div>
        </div>
  </form>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-fade" [fullScreen] = "true"><p style="color: white" > Cadastrando... </p></ngx-spinner>
