<div class="card rounded shadow-sm m-3 p-3" id="formulario">
  <form [formGroup]="form">
    <h1>Cadastrar usuário</h1>
    <hr>
      <div class="p-3">
          <!-- <p>Form value: {{form.value | json}}</p> -->
          <!-- <p>Form status: {{form.status | json}}</p> -->


        <div class="form-row">
            <div class="form-group col-12 text-start">
                <label>Código do usuário</label>
                <input type="text" readonly class="form-control" name="codigoUsuario"  formControlName="codigoUsuario">
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12 text-start">
            <label>Setor</label>
            <select class="form-select form-control" required>
              <option selected value="1">Produto</option>
              <option value="2">MONITOR</option>
              <option value="3">FONE</option>
              <option value="4">MOUSEPAD</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-12 text-start">
            <label>Empresa</label>
            <select class="form-select form-control" required>
              <option selected value="1">Precisão</option>
              <option value="2">MONITOR</option>
              <option value="3">FONE</option>
              <option value="4">MOUSEPAD</option>
            </select>
          </div>
        </div>

        <div class="form-row mb-5">
          <div class="form-group col-12 text-start">
            <label>Permissão</label>
            <select class="form-select form-control" required>
              <option selected value="1">Administrador</option>
              <option value="2">MONITOR</option>
              <option value="3">FONE</option>
              <option value="4">MOUSEPAD</option>
            </select>
          </div>
        </div>
        <hr>
        <div class="form-row mt-5">
          <div class="form-group col-6 text-start">
              <label>Username</label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.username)" name="username" formControlName="username" placeholder="Nome do usuário" required>
              <div *ngIf="f.nomeFabricante.errors?.required" class="invalid-feedback">Nome do fabricante é obrigatório</div>
              <div *ngIf="f.nomeFabricante.errors?.maxlength" class="invalid-feedback">Nome do fabricante pode ter no máximo 60 caracteres</div>
              <div *ngIf="f.nomeFabricante.errors?.minlength" class="invalid-feedback">Nome do fabricante pode ter no mínimo 2 caracteres</div>

          </div>
          <div class="form-group col-6 text-start">
            <label>E-mail</label>
            <input type="email" class="form-control" [ngClass]="cssValidator(f.email)" name="email" formControlName="email" placeholder="E-mail do usuário" required>
            <div *ngIf="f.email.errors?.required" class="invalid-feedback">E-mail é obrigatório</div>
            <div *ngIf="f.email.errors?.maxlength" class="invalid-feedback">E-mail pode ter no mínimo 10 caracteres</div>
        </div>
        </div>

      <div div class="form-row">
        <div class="form-group col-6 text-start">
          <label>Senha</label>
          <input type="password" class="form-control" [ngClass]="cssValidator(f.senha)" name="senha" formControlName="senha" placeholder="Senha" required>
          <div *ngIf="f.senha.errors?.required" class="invalid-feedback">Senha é obrigatório</div>
          <div *ngIf="f.senha.errors?.maxlength" class="invalid-feedback">Senha pode ter no mínimo 10 caracteres</div>
        </div>
        <div class="form-group col-6 text-start">
          <label>Repita a senha</label>
          <input type="password" class="form-control" [ngClass]="cssValidator(f.repitirSenha)" name="email" formControlName="repitirSenha" placeholder="Repita a senha" required>
          <div *ngIf="f.email.errors?.required" class="invalid-feedback">E-mail é obrigatório</div>
          <div *ngIf="f.email.errors?.maxlength" class="invalid-feedback">E-mail pode ter no mínimo 10 caracteres</div>
        </div>

        </div>
          <div class="form-row pt-3">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-block btn-success btn-lg" [disabled]="!form.valid">Cadastrar</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-block btn-warning btn-lg">Limpar</button>
              </div>
            </div>
          </div>
        </div>
  </form>
</div>

