<div class="card rounded shadow-sm ml-3 mt-3 p-3" id="formulario">
  <form [formGroup]="form">
    <h1>Cadastrar Equipamento</h1>
    <hr>
      <div class="p-3">
          <!-- <p>Form value: {{form.value | json}}</p> -->
          <!-- <p>Form status: {{form.status | json}}</p> -->
          <div class="form-row">
              <div class="form-group col-12 text-start">
                  <label>Código do Equipamento</label>
                  <input type="text" readonly class="form-control" name="codigoFabricante"  formControlName="codigoFabricante">
              </div>
          </div>

          <div class="form-row">
              <div class="form-group col-12 text-start">
                <label>Fabricante</label>
                <select class="form-select form-control" required>
                  <option *ngFor="let item of categoria " value="{{item.codigoCategoria}}">{{item.descricao}}</option>

                </select>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-12 text-start">
                <label>Categoria</label>
                <select class="form-select form-control" required>
                  <option selected value="1">COMPUTADOR</option>
                  <option value="2">MONITOR</option>
                  <option value="3">FONE</option>
                  <option value="4">MOUSEPAD</option>
                </select>
              </div>
            </div>

          <div class="form-row">
            <div class="form-group col-12 text-start">
                <label>Equipamento</label>
                <input type="text" class="form-control" name="descricaoEquipamento" [ngClass]="cssValidator(f.descricaoEquipamento)" formControlName="descricaoEquipamento" placeholder="Ex: Teclado RGB Gamer Dragon">
                <div *ngIf="f.descricaoEquipamento.errors?.required" class="invalid-feedback">Equipamento é obrigatório</div>
                <div *ngIf="f.descricaoEquipamento.errors?.minlength" class="invalid-feedback">Equipamento deve conter no mínimo 5 caracteres</div>
                <div *ngIf="f.descricaoEquipamento.errors?.maxlength" class="invalid-feedback">Equipamento deve conter no máximo 50 caracteres</div>
            </div>
        </div>

          <div class="form-row pt-3">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-block btn-success btn-lg" [disabled]="!form.valid">Cadastrar</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-block btn-warning btn-lg">Limpar</button>
              </div>
            </div>
          </div>
      </div>
  </form>
</div>
