
canvas{
  background-color: #BFBFBF;
  display: none;
}

#qr-code-imagem{
  display: none !important;
}

#botao-qrcode{
 background-color: #009AE0;
 color: white;
 font-weight: bold;
}

@import url(https://fonts.googleapis.com/css?family=Lobster);

