@import "../scss/style-base.scss";

#icone-excel{
  color: white;
  font-weight: 200;
}

#campo-filtro{
  background-color: #009AE0;
  color: white;
  font-weight: 600;
}

p, td{
  word-break: break-all !important;
}
