@import '../scss/fonts.scss';

.texto-destaque{
  font-family: 'Roboto-Black';
  border-bottom: #009AE0 solid;
  border-width: 3px;
  word-wrap: normal;
  padding-bottom: 3px;
  color: black;
  border-radius: 3px;
  line-height: 2;
}

.tamanho-fonte{
  font-size: 16px !important;
}

.botao-alterar{
  @extend .base-alterar-excluir-expandir;
  background-color: #FFC107;
}

.botao-excluir{
  @extend .base-alterar-excluir-expandir;
  background-color: #F86C6B;
}

.botao-expandir{
  @extend .base-alterar-excluir-expandir;
  background-color: #009AE0;
}

.base-alterar-excluir-expandir{
  @extend .tamanho-fonte;
  border-radius: 5px;
  color: white !important;
  font-family: 'Roboto-Regular';
  cursor: pointer;
}



