#icon_face{
  background-color: #1674EA ;
  color: white;
}

#icon_google{
  background-color: #E34133 ;
  color: white;
}

#button-dark-mode{
  position: absolute;
  z-index: 5;
  left: 80vw;
  top: 10vh;
}
