<div class="card rounded shadow-sm ml-3 m-3 p-3" id="formulario">
  <form >
    <h1>Cadastrar categoria</h1>
    <hr>
      <div class="p-3">
          <!-- <p>Form value: {{form.value | json}}</p> -->
          <!-- <p>Form status: {{form.status | json}}</p> -->
          <div class="form-row">
              <div class="form-group col-6 text-start">
                  <label>Código da categoria</label>
                  <input type="text" readonly class="form-control" name="codigoFabricante"  formControlName="codigoFabricante">
              </div>
          </div>

          <div class="form-row">
            <div class="form-group col-6 text-start">
                <label>Descrição</label>
                <input type="text" class="form-control" name="descricao" formControlName="descricao" placeholder="Descrição da categoria. Ex: Computador" required>
            </div>
          </div>
          <div class="form-row pt-3">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-block btn-success btn-lg">Cadastrar</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-block btn-warning btn-lg">Limpar</button>
              </div>
            </div>
          </div>
      </div>
  </form>
</div>
