<div class="card rounded shadow-sm ml-3 m-3 p-3" id="formulario">
  <form [formGroup]="form">
    <h1 class="col-4 col-lg-2"><span class="texto-destaque">Categoria</span></h1>
      <div class="p-3">
          <div class="form-row">
              <div class="form-group col-6 text-start">
                  <label>Código da categoria</label>
                  <input type="text" readonly class="form-control" name="codigoFabricante"  formControlName="codigoCategoria">
              </div>
              <div class="form-group col-6 text-start">
                <label>Descrição</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.descricao)" name="descricao" formControlName="descricao" placeholder="Ex: Headphone" required>
                <div *ngIf="f.descricao.errors?.required" class="invalid-feedback">A descrição é obrigatória</div>
                <div *ngIf="f.descricao.errors?.maxlength" class="invalid-feedback">A descrição pode ter no máximo 50 letras</div>
                <div *ngIf="f.descricao.errors?.minlength" class="invalid-feedback">A descrição pode ter no mínimo 2 letras</div>
            </div>
          </div>
          <div class="form-row pt-3">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-block btn-success btn-lg" (click)="salvarAlteracao()" [disabled]="!form.valid">{{this.estadoSalvar.includes('cadastrar')?'Cadastrar':'Atualizar'}}</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-block btn-warning btn-lg" (click)="limparCampos()">Limpar</button>
              </div>
            </div>
          </div>
      </div>
  </form>
</div>
<ngx-spinner name="cadastrada" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-fade" [fullScreen]="true"><p style="color: white" > Cadastrando... </p></ngx-spinner>
<ngx-spinner name="atualizada" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-fade" [fullScreen]="true"><p style="color: white" > Atualizando... </p></ngx-spinner>
<ngx-spinner name="carregando" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-fade" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>
