@import "../../../../scss/fonts.scss";
@import "../../../../scss/style-base.scss";


#card-footer-imagem{
  background-color:#009AE0 !important;
  color: white;
  height: 17vh;
}

.cor-card-footer{
  background-color: white;
}

#imagem-usuario {
  cursor: pointer;

  #row-card-sombra{
    -webkit-box-shadow: -12px -7px 53px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px -7px 53px -29px rgba(0,0,0,0.75);
    box-shadow: -12px -7px 53px -29px rgba(0,0,0,0.75);
  }

}


