@import "../../../../scss/fonts.scss";


#card-footer-imagem{
  background-color:#009AE0 !important;
  color: white;
  height: 20vh;
}

.texto-destaque{
  font-family: 'brandon';
}

.cor-card-footer{
  background-color: white;
}
