@import "../../../../scss/fonts.scss";
@import "../../../../scss/style-base.scss";


#card-footer-imagem{
  background-color:#009AE0 !important;
  color: white;
  height: 20vh;
}

.cor-card-footer{
  background-color: white;
}

#imagem-usuario {
  cursor: pointer;
}
