
body {
  color: var(--text-color);
  background-color: var(--bg-color) !important;
}

.toggle-button {
  -webkit-appearance: none;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: relative;
  transition: 0.4s;
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/moon.png")
    no-repeat center #212121;
  background-size: 20px;
  cursor: pointer;
}

.toggle-button:checked {
  background: url("https://raw.githubusercontent.com/RuchiVS/image-upload/main/sun.png")
    no-repeat center #ffffff;
  background-size: 20px;
  box-shadow: 5px 5px 38px -10px #000000;
}
