<div class="card rounded shadow-sm ml-3 m-3 p-3">
  <form [formGroup]="form">
    <h1 class="col-4 col-lg-2"><span class="texto-destaque">Empresa</span></h1>
      <div class="p-3">
          <div class="form-row">
              <div class="form-group col-lg-6 col-sm-12 text-start">
                  <label>Código da empresa</label>
                  <input type="text" readonly class="form-control" name="codigoEmpresa"  formControlName="codigoEmpresa">
              </div>
              <div class="form-group col-lg-6 col-sm-12 text-start">
                <label>Nome Fantasia</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.nomeFantasia)" name="nomeFantasia" formControlName="nomeFantasia" placeholder="Nome Fantasia" autocomplete="nomeFantasia" required>
                <div *ngIf="f.nomeFantasia.errors?.required" class="invalid-feedback">Nome fantasia é obrigatório</div>
                <div *ngIf="f.nomeFantasia.errors?.maxlength" class="invalid-feedback">Nome fantasia pode ter no máximo 70 letras</div>
                <div *ngIf="f.nomeFantasia.errors?.minlength" class="invalid-feedback">Nome fantasia pode ter no mínimo 10 letras</div>
              </div>
          </div>

          <div class="form-row">
            <div class="form-group col-lg-6 col-sm-12 text-start">
                <label>CNPJ</label>
                <input type="text" class="form-control" mask="00.000.000/0000-00" [ngClass]="cssValidator(f.cnpj)" name="cnpj" formControlName="cnpj" placeholder="00.000.000/0000-00" autocomplete="cnpj" required>
                <div *ngIf="f.cnpj.errors?.required" class="invalid-feedback">CNPJ é obrigatório</div>
                <div *ngIf="f.cnpj.errors?.maxlength" class="invalid-feedback">CNPJ pode ter no máximo 14 números</div>
                <div *ngIf="f.cnpj.errors?.minlength" class="invalid-feedback">CNPJ pode ter no mínimo 14 números</div>
            </div>
            <div class="form-group col-lg-6 col-sm-12 text-start">
              <label>Razão Social</label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.razaoSocial)" name="razaoSocial" formControlName="razaoSocial" placeholder="Razão Social" autocomplete="razaoSocial" required>
              <div *ngIf="f.razaoSocial.errors?.required" class="invalid-feedback">Razão Social é obrigatório</div>
              <div *ngIf="f.razaoSocial.errors?.maxlength" class="invalid-feedback">Razão Social pode ter no máximo 70 letras</div>
              <div *ngIf="f.razaoSocial.errors?.minlength" class="invalid-feedback">Razão Social pode ter no mínimo 10 letras</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12 col-sm-12 col-lg-6 text-start">
              <label>Empresa padrão para impressão</label>
              <select formControlName="empresaPadraoImpressao" class="form-select form-control" required>
                <option selected [ngValue]="false">Não</option>
                <option [ngValue]="true">Sim</option>
              </select>
            </div>
          </div>
          <div class="form-row pt-3">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-block btn-success btn-lg" (click)="salvarAlteracao()" [disabled]="!form.valid">{{this.estadoSalvar.includes('cadastrar')?'Cadastrar':'Atualizar'}}</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-block btn-warning btn-lg" (click)="limparCampos()">Limpar</button>
              </div>
            </div>
          </div>
      </div>
  </form>
</div>
<ngx-spinner name="cadastrada" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-fade" [fullScreen]="true"><p style="color: white" > Cadastrando... </p></ngx-spinner>
<ngx-spinner name="atualizada" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-fade" [fullScreen]="true"><p style="color: white" > Atualizando... </p></ngx-spinner>
<ngx-spinner name="carregando" bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-spin-fade" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>
