@import "../../../scss/fonts.scss";
@import "../../../scss/style-base.scss";

.backgroud-menu-superior{
  background-color: var(--color-background-breadcrumb);
}

#menu-superior{
  @extend .backgroud-menu-superior;
}

.main .container-fluid{
  padding: 0 0;

  #breadcrumb-color{
    border: none;
    @extend .backgroud-menu-superior;

    #breadcrumb-color__span-pagina-anterior{
      @extend .tamanho-fonte;
    }

    #breadcrumb-color__span-pagina-atual{
      color: var(--color-contraste);
      font-family: 'Omnes';
      font-weight: 500;
      @extend .tamanho-fonte;
    }
  }
}

#texto-perfil{
  @extend .tamanho-fonte;
  font-family: 'brandon';
  cursor: pointer;
  color: var(--color-contraste);
}

#footer-background{
  background-color: var(--color-background-menu-superior);
  display: flex;
  justify-content: center;
  border: none;

  p{
    color: var(--color-contraste);
    font-family: 'Roboto-black';
    font-size: .8rem;
  }

}
