<div class="card rounded shadow-sm ml-3 m-3 p-3">
  <form [formGroup]="form">
    <h1 class="col-4 col-lg-3 texto-destaque">Permissão</h1>
    <hr>
      <div class="p-3">
          <div class="form-row">
              <div class="form-group col-12 text-start">
                  <label>Código da permissão</label>
                  <input type="text" readonly class="form-control" name="codigoPermissao"  formControlName="codigoUsuarioPermissao">
              </div>
          </div>

          <div class="form-row">
            <div class="form-group col-lg-6 col-sm-12 text-start">
              <label>Descrição</label>
              <input type="text" class="form-control" [ngClass]="cssValidator(f.descricaoPermissao)" name="descricaoPermissao" formControlName="descricaoPermissao" placeholder="Descrição da permissão" autocomplete="descricaoPermissao" required>
              <div *ngIf="f.descricaoPermissao.errors?.required" class="invalid-feedback">A descrição é obrigatório</div>
              <div *ngIf="f.descricaoPermissao.errors?.maxlength" class="invalid-feedback">A descrição pode ter no máximo 20 caracteres</div>
              <div *ngIf="f.descricaoPermissao.errors?.minlength" class="invalid-feedback">A descrição pode ter no mínimo 3 caracteres</div>
            </div>
            <div class="form-group col-lg-6 col-sm-12 text-start">
                <label>Ativo</label>
                <select class="form-select form-control">
                  <option selected value="1">Ativo</option>
                  <option value="0">Desativado</option>
                </select>
            </div>
          </div>
          <div class="form-row pt-3">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-block btn-success btn-lg" (click)="salvarAlteracao()" [disabled]="!form.valid">Cadastrar</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-block btn-warning btn-lg">Limpar</button>
              </div>
            </div>
          </div>
      </div>
  </form>
</div>
