@font-face {
  font-family: 'Roboto-Black';
  src: url('../../../assets/font/Roboto-Black.otf') format("truetype");
  font-weight:300;
}

h4{
  font-family: 'Roboto-Black';
}

button{
  font-family: 'Roboto-Black';
  color: white;
}
