<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <!-- TODO: FAZER UMA BUSCA POR PÁGINA -->
        <div class="input-prepend input-group d-flex justify-content-center">
          <h1><img src="assets/img/403.gif"></h1>
          <h4>Oops! Você não tem autorização para entrar nesse módulo.</h4>
          <span class="input-group-append">
            <button class="btn btn-info" (click)="validarSeTokenExpirado()" type="button">Voltar para o dashboard</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
