<section>
  <div class="d-flex ml-3">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text tamanho-fonte" id="campo-filtro" >Filtro: </div>
        </div>
        <input type="text" placeholder="Buscar por observação, código de movimentação e usuário" (input)="onChange($event)" class="form-control tamanho-fonte" />
      </div>
    </div>

  </div>

  <ngx-table [data]="data" [configuration]="configuracao" [columns]="colunas" [noResultsTemplate]="mensagemSemCadastro"
    [summaryTemplate]="summaryTemplateRef" #table>
    <ng-template let-row let-index="index">
      <tr class="teste">
      <div class="d-flex align-items-center flex-column">
        <div class="container">
          <div id="timeline">
            <div class="timeline-item">
              <div class="timeline-icon">
                <img loading="lazy" src="assets/img/circlearrow.png" width="40" height="40">
              </div>
              <div class="timeline-content" [ngClass]="adicionarClasseAlinhamentoDireita(index)">
                <h2 class="mb-3">{{row.tipoEquipamento | uppercase}} - {{row.nomeFuncionario | uppercase}}</h2>
                <p>Código movimentação: <span class="item-movimentacao">{{row.codigoMovimentacao}}</span></p>
                <p>Data apropriação: <span class="item-movimentacao">{{row.dataApropriacao | date: 'medium'}}</span></p>
                <p>Data devolução: <span class="item-movimentacao">{{row.dataDevolucao | date: 'medium' }}</span></p>
                <p>Movimentação realizada por: <span class="item-movimentacao">{{row.nomeUsuario | uppercase}} </span></p>
                <p>Situação do patrimônio: <span
                    class="item-movimentacao">{{obterDescricaoEnum(+row.movimentacaoDoEquipamento)}}</span></p>

                <p>Observação: <span class="item-movimentacao">{{row.observacao}}</span></p>

                <div class="d-flex justify-content-center">
                  <button class="btn btn-warning btn-lg"
                    (click)="detalheMovimentacao(row.codigoMovimentacao)">Alterar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tr>

    </ng-template>
  </ngx-table>
  <ng-template #mensagemSemCadastro>
    <td [attr.colspan]="colunas.length" class="no-results text-center">
      <h4>Não há nenhuma movimentação realizada</h4>
    </td>
  </ng-template>

  <ng-template #summaryTemplateRef let-total="total">
    <th class="th-padding border-0">Total de registros: {{ total }}</th>
  <ng-template>
  <ngx-spinner name="buscando" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
    [fullScreen]="true">
    <p style="color: white"> Buscando... </p>
  </ngx-spinner>
