<div class="card rounded shadow-sm ml-3 m-3 p-3">
  <form [formGroup]="form">
    <h1 class="col-4 col-lg-2"><span class="texto-destaque">Fabricante</span></h1>
      <div class="p-3">
          <div class="form-row">
              <div class="form-group col-lg-6 col-sm-12 text-start">
                  <label>Código do fabricante</label>
                  <input type="text" readonly class="form-control" name="codigoFabricante"  formControlName="codigoFabricante">
              </div>
              <div class="form-group col-lg-6 col-sm-12 text-start">
                <label>Nome do fabricante</label>
                <input type="text" class="form-control" [ngClass]="cssValidator(f.nomeFabricante)" name="nomeFabricante" formControlName="nomeFabricante" placeholder="Nome do fabricante" autocomplete="nomeSetor" required>
                <div *ngIf="f.nomeFabricante.errors?.required" class="invalid-feedback">Nome do fabricante é obrigatório</div>
                <div *ngIf="f.nomeFabricante.errors?.maxlength" class="invalid-feedback">Nome do fabricante pode ter no máximo 60 letras</div>
                <div *ngIf="f.nomeFabricante.errors?.minlength" class="invalid-feedback">Nome do fabricante pode ter no mínimo 5 letras</div>
            </div>
          </div>
          <div class="form-row pt-3">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-block btn-success btn-lg" [disabled]="!form.valid" (click)="salvarAlteracao()">Cadastrar</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-block btn-warning btn-lg" (click)="limparCampos()">Limpar</button>
              </div>
            </div>
          </div>
      </div>
  </form>
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-spin-fade" [fullScreen]="true"><p style="color: white" > Cadastrando... </p></ngx-spinner>
