<div class="card border-0 rounded shadow-sm p-3 m-5">
  <div class="row">
    <div class="col-lg-8 col-sm-12 col-md-12">
      <div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text tamanho-fonte" id="campo-filtro">Filtro:</div>
          </div>
          <input type="text" placeholder="Buscar por registros" class="form-control tamanho-fonte" (input)="onChange($event)" />
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12 col-md-12 col-12">
      <button class="btn btn-success mb-1 tamanho-fonte" *ngIf="ehAdministrador" (click)="exportarParaExcel()">
        <i class="fas fa-file-excel my-1" id="icone-excel"></i> Exportar para
        Excel
      </button>
      <button class="btn btn-outline-primary mb-1 ml-1 mr-1 " routerLink="/dashboard/usuario">
        <b class=" ml-1 mr-1 tamanho-fonte">Novo <i class="fa fa-plus-circle my-1"></i></b>
      </button>
    </div>
  </div>

  <ngx-table [data]="data" [configuration]="configuracao" [columns]="colunas" [noResultsTemplate]="mensagemSemCadastro"
    [summaryTemplate]="summaryTemplateRef" [detailsTemplate]="detailsTemplate" #table>
    <ng-template let-row let-index="index">
      <td *ngIf="!isMobile">
        <div class="font-small ">{{ row.codigoUsuario }}</div>
      </td>
      <td>
        <span class="font-small">{{ row.nome }}</span>
      </td>
      <td *ngIf="!isMobile">
        <span class="font-small">{{ row.email }}</span>
      </td>
      <td *ngIf="!isMobile">
        <button class="btn btn-warning btn-lg tamanho-fonte" (click)="detalheUsuario(row.codigoUsuario)">
          Alterar
        </button>
      </td>
      <td *ngIf="!isMobile">
        <button class="btn btn-danger btn-lg tamanho-fonte" (click)="abrirModal($event, template, row.codigoUsuario)">
          Desativar
        </button>
      </td>
      <td *ngIf="isMobile">
        <button class="btn btn-primary tamanho-fonte" id="expandButton-{{ index }}" (click)="onRowClickEvent($event, index)">
          <i class="icon icon-arrow-left" *ngIf="!toggledRows.has(index)"></i>
          <i class="icon icon-arrow-down" *ngIf="toggledRows.has(index)"></i>
          Expandir
        </button>
      </td>
    </ng-template>
  </ngx-table>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p class="tamanho-fonte">Deseja confirmar a desativação do usuário de código {{ codigoUsuario }}?</p>
    <button type="button" class="btn btn-default" (click)="confirmar()">
      Sim
    </button>
    <button type="button" class="btn btn-primary" (click)="recusar()">
      Não
    </button>
  </div>
</ng-template>
<ng-template #mensagemSemCadastro>
  <td [attr.colspan]="colunas.length" class="no-results text-center">
    <h4>Não há nenhum usuário cadastrado</h4>
  </td>
</ng-template>

<ng-template #summaryTemplateRef let-total="total">
  <th>Total de registros: {{ total }}</th>
</ng-template>

<ng-template #detailsTemplate let-row>
  <div>
    <p>Código: {{row.codigoUsuario}}</p>
    <p>E-mail: {{ row.email }}</p>
  </div>
  <button class="btn btn-warning btn-lg mr-3 tamanho-fonte" (click)="detalheUsuario(row.codigoUsuario)">
    Alterar
  </button>
  <button class="btn btn-danger btn-lg tamanho-fonte" (click)="abrirModal($event, template, row.codigoUsuario)">
    Desativar
  </button>
</ng-template>
<ngx-spinner name="buscando" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
  [fullScreen]="true">
  <p style="color: white"> Buscando... </p>
</ngx-spinner>
<ngx-spinner name="desativando" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-clip-rotate"
  [fullScreen]="true">
  <p style="color: white"> Desativando... </p>
</ngx-spinner>
