@import "../../../scss/fonts.scss";


.texto-card{
  font-family: "brandon";
  font-size: 30px;
  color: #009AE0;
}

.legenda-card {
  font-family: "Roboto-black";
  font-size:15px !important;
  color: var(--color-black);
}

#titulo-grafico{
  font-family: 'brandon';
  color: var(--color-contraste)
}

