@import "../../../scss/fonts.scss";

.texto-card{
  font-family: "brandon";
  font-size: 30px;
}

p.legenda-card{
  font-family: "brandon";
  font-size:25px !important;

}

#titulo-grafico{
  font-family: 'brandon'
}

