@import '../scss/fonts.scss';

.texto-destaque{
  font-family: 'Roboto-Black';
  border-bottom: #009AE0 solid;
  border-width: 3px;
  word-wrap: normal;
  padding-bottom: 3px;
  color: black;
  border-radius: 3px;
  line-height: 2;
}

.tamanho-fonte{
  font-size: 16px !important;
}
